body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    background-color: rebeccapurple;
    padding: 5px;
}

ol{
    list-style: none;
    
}

.formulario{
    display: flex;
    padding: 1rem;
}